@import 'welcome/index';
@import 'select-action/index';
@import 'seed-phrase/index';
@import 'end-of-flow/index';
@import 'metametrics-opt-in/index';


.first-time-flow {
  width: 100%;
  max-width: 755px;
  background-color: var(--color-background-default);
  display: flex;
  justify-content: center;
  // padding: 15px;
  &__wrapper {
    flex: 1;
    @media screen and (min-width: $break-large) {
      // max-width: 742px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2%;
    }

    .app-header__metafox-logo {
      margin-bottom: 40px;

      @media screen and (max-width: $break-small) {
        margin-bottom: 0;
      }
    }
  }

  &__import,
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__create-back {
    // margin-bottom: 16px;
    display: flex ;
    height: 44px;
    align-items: center;
    justify-content: space-between
  }

  &__header {
    @include H4;

    margin-bottom: 24px;
    color: var(--color-text-default);
  }

  &__input {
    max-width: 100%;
  }
  &__back{
    padding-left: 15px;
  }

  &__text-block {
    margin-bottom: 24px;
    color: var(--color-text-default);

    @media screen and (max-width: $break-small) {
      @include H6;

      margin-bottom: 16px;
    }
  }
  .phraseTips{
    margin-bottom: 10px;
    font-size: 12px;
    color: #cbcbcb;
  }
  &__text-block1{
    line-height: 16px;
    color: #666;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__button {
    margin-top: 51px;
    height: 50px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 17px;
  }

  &__checkbox {
    background: var(--color-background-default);
    border: 1px solid var(--color-border-muted);
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    &:hover {
      border: 1.5px solid var(--color-primary-alternative);
    }

    .fa-check {
      color: white;
    }
  }
  &__checked{
    background-color: #5D61FF;
  }
  &__checkbox-label {
    // @include H4;
    color: var(--color-text-alternative);
    margin-left: 18px;
    font-size: 13px;
  }

  &__link-text {
    color: var(--color-primary-default);
  }
  &__form-box{
    padding: 15px;
  }
  &__confirm__main{
    padding:0 15px;
  }
}
.first-time-flow__input .MuiInput-root{
  background: var(--color-background-default);
  border-color:var(--color-border-muted);
}
.first-time-flow__wrapper.intro {
  @media screen and (min-width: $break-large) {
    max-width: 1010px;
  }

  @media screen and (max-width: 1010px) {
    padding: 0 20px;
  }
}
.phrase-content{
  padding:0 15px;
}
.first-time-flow .MuiFormControl-root{
  display: block;
}
.import-account__selector-label{
  padding: 30px 0;
}
.first-time-flow__textarea{
  width: 100%;
}