@import 'welcome/index';
@import 'select-action/index';
@import 'seed-phrase/index';
@import 'end-of-flow/index';
@import 'metametrics-opt-in/index';


.first-time-flow {
  width: 100%;
  max-width: 755px;
  background-color: $white;
  display: flex;
  justify-content: center;
  // padding: 15px;
  &__wrapper {
    flex: 1;
    @media screen and (min-width: $break-large) {
      // max-width: 742px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2%;
    }

    .app-header__metafox-logo {
      margin-bottom: 40px;

      @media screen and (max-width: $break-small) {
        margin-bottom: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__create-back {
    // margin-bottom: 16px;
    display: flex ;
    height: 44px;
    align-items: center;
    justify-content: space-between
  }

  &__header {
    @include H4;

    margin: 14px 0 ;
    color: #333;
    font-weight: bold;
  }

  &__subheader {
    margin-bottom: 16px;
  }

  &__input {
    max-width: 100%;
  }
  &__back{
    padding-left: 15px;
  }
  &__textarea-wrapper {
    margin-bottom: 8px;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    max-width: 100%;
  }

  &__textarea-label {
    @include H4;

    margin-bottom: 9px;
    color: #1b344d;
  }

  &__textarea {
    @include Paragraph;

    /*rtl:ignore*/
    direction: ltr;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 16px;
    margin-top: 8px;
  }

  &__seedphrase {
    margin-top: 9px !important;
  }

  &__breadcrumbs {
    margin: 36px 0;
  }

  &__text-block {
    margin-bottom: 15px;
    color: #333;

    @media screen and (max-width: $break-small) {
      @include H6;

      margin-bottom: 16px;
    }
  }
  .phraseTips{
    margin-bottom: 10px;
    font-size: 12px;
    color: #cbcbcb;
  }
  &__text-block1{
    line-height: 16px;
    color: #666;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__button {
    margin-top: 51px;
    height: 50px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 17px;
  }

  &__checkbox {
    background: #fff;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    &:hover {
      border: 1.5px solid #5D61FF;
    }

    .fa-check {
      color: white;
      font-size: 10px;
    }
  }
  &__checked{
    background-color: #5D61FF;
  }
  &__checkbox-label {
    // @include H4;
    color: #666666;
    font-size: 13px;
    margin-left: 6px;
  }

  &__link-text {
    color: $primary-blue;
  }
  &__form-box{
    padding: 15px;
  }
  &__confirm__main{
    padding:0 15px;
  }
}
.first-time-flow__input .MuiInput-root{
  background: #F8F8F8;
  border-color:#F8F8F8;
}
.first-time-flow__wrapper.intro {
  @media screen and (min-width: $break-large) {
    max-width: 1010px;
  }

  @media screen and (max-width: 1010px) {
    padding: 0 20px;
  }
}
.phrase-content{
  padding:0 15px;
}
.first-time-flow .MuiFormControl-root{
  display: block;
}
.import-account__selector-label{
  padding: 30px 0;
}
.first-time-flow__textarea{
  width: 100%;
}