.status-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;

  &__line {
    background-image: linear-gradient(to right, #037dd6, #d73a49);
    height: 4px;
    width: 100%;
    border-radius: 100px;
    display: block;
  }

  &__label {
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
  }

  &__arrow {
    width: 0;
    height: 0;
    align-self: baseline;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #f00;
  }
}
