.select-action {
  .app-header__logo-container {
    // width: 742px;
    margin-top: 3%;
    max-width: 100%;
    justify-content: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body-header {
    @include H3;

    text-align: center;
    margin-top: 65px;
    color: black;
  }

  &__select-buttons {
    display: flex;
    // flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  &__select-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 388px;
    max-width: 90vw;
    min-height: 278px;
    padding: 20px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 22px;
    margin-bottom: 20px;
    background-color: #F8F8F8;
    .first-time-flow__button {
      max-width: 221px;
      height: 44px;
    }
  }

  &__button-symbol {
    color: #c4c4c4;
    margin-top: 41px;
  }

  &__button-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 144px;
  }

  &__button-text-big {
    @include H4;

    color: #333;
    margin-top: 12px;
    text-align: center;
    font-weight: bold
  }

  &__button-text-small {
    @include H6;

    color: #7a7a7b;
    margin-top: 10px;
    text-align: center;
  }

  button {
    font-weight: 500;
    width: 221px;
  }
}
